<!DOCTYPE html>
<html lang="en">
    <head>
           <meta charset="utf-8" />
           <title>Charts </title>
           <!-- import plugin script -->
           <script src='static/Chart.min.js'></script>   
    </head>
    
    <body>
    <h1>Simple Charts</h1><!-- bar chart canvas element -->
    
    <canvas id="chart" width="400" height="400"></canvas>
    <canvas id="chart2" width="400" height="400"></canvas>
    <script>
        var barData ={
            labels: [{% for item in labels: %}
            "{{ item }}",
            {% endfor %}],
        datasets : [{
            data: [{% for item in values %}
                   " {{ item }}",
                     {% endfor %}],
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)"
                }]
        }
        var mychart = document.getElementById("chart").getContext("2d");
        var mychart2 = document.getElementById("chart2").getContext("2d");

        steps = 10
   max = 50
   // draw bar chart
   new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

  new Chart(mychart2).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

    </script>
</body>

</html>